2025/07/YeIrjGp4bDj4MFin.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-10T12:28:34.815Z",
  "id": "YeIrjGp4bDj4MFin",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generate daily summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 16 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3966a932-978c-47d8-808c-946e1c6c63df",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fileSelector": "=/files/sync/Sync/daily/*.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "33028002-bc40-4f70-8a66-4c0f2c54a504",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "3993a5e4-3f72-4dab-9893-85466c5c80fc",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cddc421d-ac8e-4c85-9126-0076fdbf29ff",
              "leftValue": "={{ $json.fileName }}",
              "rightValue": "={{ $now.format('dd.MM.yyyy') }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "b99102b3-74dc-4508-ae8d-15cec1969123",
      "name": "Filter"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "e7a43d70-aec0-471a-a182-5b3251f3d27e",
      "name": "Markdown"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "notes",
              "cssSelector": "#notes + *"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1100,
        0
      ],
      "id": "e130480c-73b1-4f4b-aad3-1e70f812ca86",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.notes }}",
        "options": {
          "systemMessage": "Generate short, daily summary based on the input"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1320,
        0
      ],
      "id": "041ae8f9-6d8b-42ea-bfe0-eb1ae4e8f273",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1320,
        180
      ],
      "id": "b1cd06d6-2f63-4350-9cb9-ed76460f6bfa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1jdAoQlO0b0RveZz",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "mpeciakk",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-14T10:08:38.000Z",
  "versionId": "5f505ccc-b681-45e5-8b98-59df12fac730"
}